body {
    background-color: #989898;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 260px;
    height: 1024px;
    background-color: white;
    float: left;
    padding: 20px; /* Add padding to the navbar */
    border: 2px solid #737A81; /* Add a 2px solid grey border around the navbar */
    box-sizing: border-box; /* Ensure the border is included in the width and height calculations */
}


.logo h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #165A4A;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin: 0;
}

.logo p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #737A81;
    margin: 0;
    margin-top: 10px; /* Adjust margin-top */
}

.button {
    width: 227px;
    height: 60px;
    background-color: white;
    border: none;
    color: #737A81;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
    display: block;
    margin: 10px auto; /* Center button horizontally */
    padding-left: 40px; /* Adjust padding-left */
    position: relative;
    text-decoration: none;
}

.button img {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust left position */
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    transition: filter 0.3s;
    fill: #737A81;
}

.button:hover {
    background-color: #EB862A;
    color: white;
}

.button:hover img {
    fill: white;
}

.info-section {
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center;
    margin-top: 20px;
}

.rectangle {
    width: 210px;
    height: 120px;
    background-color: #165A4A;
    color: white;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    margin-top: 190px;
}

.rectangle p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.knowmore {
    width: 160px;
    height: 40px;
    background-color: white;
    border: none;
    color: #737A81;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
    margin-top: 14px;
}

.knowmore:hover {
    background-color: #EB862A;
    color: white;
}

.search-bar {
    position: fixed;  /* Fix the search bar to the top of the viewport */
    left: 260px;
    width: 100vw;
    height: 50px;
    background-color: white;
    margin: 0px auto; /* Center the search bar horizontally */
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically */
    padding: 0 20px; /* Add padding to the search bar */
}

.search-bar img {
    width: 20px; /* Set the width of the search icon */
    margin-right: 20px; /* Add space between the icon and input field */
}

.search-bar input[type="text"] {
    width: 150px; /* Take up remaining width after considering the width of the icon and margin */
    height: 95%; /* Match the height of the search bar */
    border: none; /* Remove default input border */
    outline: none; /* Remove outline */
    font-size: 16px; /* Set font size */
}
.profile-circle {
    width: 40px;
    height: 40px;
    background-color: #EB862A;
    border-radius: 50%;
    display: flex; /* Keep flexbox for centering */
    justify-content: center;
    align-items: center;
    position: fixed; /* Position the circle relative to the viewport */
    top: 6px; /* Adjust top position */
    right: 20px; /* Adjust right position */
    z-index: 999; /* Ensure the circle appears above other elements */
}

.profile-circle img {
    width: 20px;
    height: 20px;
    fill: black; /* If your SVG uses fill */
    padding-left: 19px; /* Adjust padding to move the icon to the right */
}