<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews Page</title>
</head>
<body>
    <h1>Reviews Page</h1>
    
    <table>
        <thead>
            <tr>
                <th>Business Name</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.cnt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>